



/* FOR DESKTOPS */
 
@media only screen and (min-width: 769px) {

*{
    padding:0px;
    margin:0px;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header{
    width:100%;
    background-color:rgb(73, 69, 69);
    height:120px;
}
.header-words{
    margin-left:500px;
    padding-top:20px;
    font-size:25px;
    margin-top:-90px;
}
.policy-header-div{
    margin-left:100px;
}
.yearly-header-div{
    margin-left:60px;
}
.logout{
    margin-left:690px;
    height:30px;
    width:100px;
    text-align:center;
    background-color:black;
    border:1px solid black;
    border-radius:5px;
    font-size: 18px;
}
.logout:hover{
    background-color: rgb(165, 161, 161);
    cursor:pointer;
}
.logo{
    height: 80px;
    width:80px;
    border:1px solid white;
    margin-left: 20px;
    margin-bottom: -50px;
}
.logo img{
    height: 80px;
    width:80px;
}
.side-div{
    border:1px solid black;
    width:300px;
    height:480px;
    margin-top:5px;
    background-color: rgb(73, 69, 69);
    box-shadow: 0 4px 8px 0px rgba(0,0,0,0.2);
    transition: 5.6s;
    border-radius:10px;
}
.left-div{
    border:1px solid black;
    width:300px;
    height:480px;
    margin-top:5px;
    margin-left:1045px ;
    margin-top:-482px;
    background-color: rgb(73, 69, 69);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius:10px;
}
.announcements{
    border:1px solid black;
    margin-left:310px;
    margin-top:-482px;
    height:480px;
    width:725px;
    background-color: rgb(13, 13, 88);
}
.login-body{
    width:100%;
    background-color: rgb(13, 13, 88);
    height:480px;
}
.front-register-text{
    margin-top:30px;
    margin-left:100px;
}
.front-btns-div{
    margin-left:180px;
    margin-top:30px;
}
.front-btns-div button{
    width:100px;
    background-color: black;
    height:30px;
    margin:10px;
    border-radius: 10px;
    border:1px solid black;
    border-radius:5px;
    font-size: 18px;
}
.add-profile-picture-btn{
    width:200px;
    background-color: black;
    height:30px;
    margin:10px;
    border-radius: 10px;
    border:1px solid black;
    border-radius:5px;
    font-size: 18px;
}
.email-sent-message{
    color:red;
    font-style: italic;
}
.add-profile-picture-btn:hover{
    background-color: rgb(73, 69, 69);
    cursor: pointer;
}
.front-btns-div button:hover{
    background-color: rgb(73, 69, 69);
    cursor: pointer;
}
.front-welcome-words{
    margin:10px;
    float:right;
    width:590px;
    margin-top:-440px;
    margin-right: 10px;
    height:300px;
    font-size: 35px;
}
.front-slide-div{
    border:1px solid white;
    width:700px;
    height:440px;
    margin-left:20px;
}
.front-slide-div img{
    width:700px;
    height:440px;
}
.front-page-body{
    width:100%;
    background-color: rgb(13, 13, 88);
    height:480px;
}
.products-div{
    border:1px solid black;
    margin-left:310px;
    margin-top:-482px;
    height:480px;
    width:1030px;
    background-color: rgb(13, 13, 88);
}
.footer{
    height:200px;
    margin-top:5px;
    background-color: rgb(73, 69, 69);
    width:100%;
}
.login-form-inner-div{
    border:1px solid white;
    width:500px;
    height:300px;
    padding-top: 70px;
    border-radius:20px;
}
.register-form-inner-div{
    border:1px solid white;
    width:500px;
    height:450px;
    padding-top: 10px;
    border-radius:20px;
}
.login-form-outside-div{
    text-align: center;
    width:200px;
    margin-left:400px;   
}
.auth-input{
    background-color: transparent;
    text-align: center;
    padding:5px;
    border-radius:20px;
    margin:10px;
    border:1px solid white;
    width:350px;
    font-size:20px;
}
.register-input{
    background-color: transparent;
    text-align: center;
    border-radius:20px;
    margin:2px;
    border:1px solid white;
    width:350px;
    font-size:15px;
    height:25px;
}
.login-btn{
    width:350px;
    height:40px;
    background-color: black;
    border-radius:20px;
    color:white;
    font-size:20px;
    border:1px solid white;
}
.register-btn{
    width:350px;
    height:30px;
    background-color: black;
    border-radius:20px;
    color:white;
    font-size:15px;
    border:1px solid white;
    margin-top:5px;
}
.signup-form-error{
    font-style: italic;
    color:red;
    font-weight: lighter;
}
.login-btn:hover{
    background-color: rgb(73, 69, 69);
    cursor: pointer;
}
.login-header{
    font-size: 22px;
}
.auth-links{
    margin-top:10px;
}
.auth-links a:hover{
    color: red; 
}
.forgot-link{
    margin-top:10px;
}
.auth-input::placeholder{
    text-align: center;
    font-weight: lighter;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:20px;
}
.register-input::placeholder{
    text-align: center;
    font-weight: lighter;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:15px;
}
.tabbedul ul{
    list-style: none;
    background-color: black;
}
.tabbedul ul li a{
    text-decoration: none;
}
.tabbedul ul li{
    display:inline-flex;
    padding-top:10px;
    padding-left:15px;
    padding-right:15px;
    padding-bottom: 10px;
}
.tabbed-content{
    border:1px solid white;
    height:380px;
    width:1020px;
    overflow-y: scroll;
}
.add-product-form{
    margin-left:10px;
    display: none;
}
.add-product-form-2{
    margin-left:10px;
    display: none;
}
.add-product-form-3{
    margin-left:10px;
    display: none;
}
.add-product-form-4{
    margin-left:10px;
    display: none;
}
.add-product-form-5{
    margin-left:10px;
    display: none;
}
.add-product-form-6{
    margin-left:10px;
    display: none;
}
.add-product-form-7{
    margin-left:10px;
    display: none;
}
.active{
    background-color:rgb(73, 69, 69)!important ;
}
.add-product-form-8{
    margin-left:10px;
    display: none;
}
.add-product-form-9{
    margin-left:10px;
    display: none;
}
.add-product-form-10{
    margin-left:10px;
    display: none;
}
.product-input{
    background-color: transparent;
    height:30px;
    border-radius: 5px;
    border:1px solid white;
}
.reporting-div{
    margin-top:20px;
}
.report-input{
    margin:10px;
    background-color: transparent;
    height:30px;
    width:150px;
    border-radius:5px;
    border:1px solid white;
}
.report-input::placeholder{
    color:white;
    text-align: center;
}
.reporting-title{
    margin-left: 300px;
    padding-top:20px;
    font-size:20px;
}
.daily-chart-div{
    border:1px solid white;
    height:450px;
    margin-top:10px;
}
.monthly-chart-div{
    height:350px;
    margin-top:10px;
}
#barChartdaily1{
    margin-top:-20px;
    height:350px;
    width:800px;
}
#barChart1{
    height:350px;
    width:800px;
}
#barChartdaily2{
    margin-top:-20px;
    height:350px;
    width:800px;
}
#barChart2{
    height:350px;
    width:800px;
}
#barChartdaily3{
    margin-top:-20px;
    height:350px;
    width:800px;
}
#barChart3{
    height:350px;
    width:800px;
}
#barChartdaily4{
    margin-top:-20px;
    height:350px;
    width:800px;
}
#barChart4{
    height:350px;
    width:800px;
}
#barChartdaily5{
    margin-top:-20px;
    height:350px;
    width:800px;
}
#barChart5{
    height:350px;
    width:800px;
}
#barChartdaily6{
    margin-top:-20px;
    height:350px;
    width:800px;
}
#barChart6{
    height:350px;
    width:800px;
}
#barChartdaily7{
    margin-top:-20px;
    height:350px;
    width:800px;
}
#barChart7{
    height:350px;
    width:800px;
}
#barChartdaily8{
    margin-top:-20px;
    height:350px;
    width:800px;
}

.single-text-div{
    border:1px solid white;
    width:650px;
    height:auto;
    margin-top:20px;
    margin-left:10px;
    padding:10px;
    background-color: black; 
    word-wrap:break-word;
    border-radius: 10px;
}
.sender_name{
    margin-left: 10px;
    margin-bottom: -20px;
}
#barChart8{
    height:350px;
    width:800px;
}
.report-froms{
    display:inline-flex;
}
#barChartdaily9{
    margin-top:-20px;
    height:350px;
    width:800px;
}
#barChart9{
    height:350px;
    width:800px;
}
#barChartdaily10{
    margin-top:-20px;
    height:350px;
    width:800px;
}
#barChart10{
    height:350px;
    width:800px;
}
.chart-desc-inner{
    height:300px;
}
.min{
    margin:10px;
}
.chart-desc-inner{
    margin:20px;
}

.chart-desc{
    height:350px;
    width:200px;
    float:right;
    margin-top:-352px;
}
.daily-chart-desc{
    height:300px;
    width:197px;
    float:right;
    margin-top:-350px;
}
.product-input::placeholder{
    color:white;
    text-align: center;
}
.released-products-header{
    margin-left:250px;
}
.tabbedul ul li:hover{
    background-color:rgb(73, 69, 69) ;
    cursor: pointer;
}
.product-header{
    margin-left:400px;
}
.footer-list-ul ul{
    display: inline-flex;
    list-style: none;
}
.footer-list-ul ul li{
    margin-top:10px;
    margin-left: 80px;
    margin-right: 80px;
    font-size: 18px;
    list-style: none;
}
.div ul{
    display: block;
    position: absolute;
}
.footer-header{
    margin-left:500px;
    padding-top:10px;
}
.div ul li{
    margin-left:-5px;
}
.profile{
    display: inline-flex;
}
.profile-photo img{
    width:150px;
    height:150px;
    margin-left: 5px;
    border-radius: 50%;
}
.profile-picture-form{
    margin-top:100px;
    margin-left:100px;
}
.profile-picture-words{
     margin-top: 10px; 
     margin-left:-100px;
}
.profile-picture-words a:hover{
    color:red;
}
.the-profile-photo{
    border:1px solid black;
    border-radius: 50%;
}
.profile-desc{
    width:140px;
    margin-left: 3px;
}
.released-div{
    font-size:35px;
    margin-top:20px;
}
.released-div ul li{
    padding-bottom: 30px;
    padding-top:20px;
    padding-left:10px;

}
.released-div ul li:hover{
    background-color: rgb(165, 161, 161);
    cursor:pointer;
}
.released-div ul li a{
    text-decoration: none;
}
.announce-outside-table{
    margin-left:10px;
    margin-top:20px;
    height:450px;
border:1px solid white;
overflow-y: scroll;
}

.announcement-td{
    width:250px;
    
}
.announcement-table{
    border:1px solid white;
    border-collapse: collapse;
    width:690px;
}
.products-table{
    border:1px solid white;
    border-collapse: collapse;
    width:950px;
    margin:10px;
}
.announcement-table th{
    border:1px solid white;
    height:40px;
    background-color: rgb(165, 161, 161);   
}
.products-table th{
    border:1px solid white;
    height:40px;
    background-color: rgb(165, 161, 161);   
}
.announcement-table td{
    text-align: center;
    border:1px solid white;
    height:50px;
}
.products-table td{
    text-align: center;
    border:1px solid white;
    height:50px;
}
.announce-btn{
    margin-left:200px;
    width:150px;
    margin-top:10px;
    height:30px;
    background-color:black;
    border:1px solid black;
    border-radius:5px;
    font-size: 18px;
}
.add-announce-btn{
    width:150px;
    margin:10px;
    height:30px;
    background-color:black;
    border:1px solid black;
    border-radius:5px;
    font-size: 18px;
}
.add-announce-btn:hover{
    background-color: rgb(165, 161, 161);
    cursor:pointer;
}
.monthly-chart-record{
    margin-left:300px;
}
.add-announce-btn a{
    text-decoration: none;
}
.product-success{
    font-weight: lighter;
    margin-left:300px;
    color:greenyellow;
}
.forum-send-btn{
    width:90px;
    height:40px;
    background-color:black;
    border:1px solid black;
    border-radius:20px;
    font-size: 18px;
}
.forum-send-btn:hover{
    cursor:pointer;
    background-color: rgb(165, 161, 161);
}
.forum-input{
    width:600px;
    height:40px;
    border-radius: 20px;
    border:1px solid white;
    background-color: transparent;
}
.forum-input::placeholder{
  text-align: center;
  color:white;
  font-size:20px;
  font-weight: lighter;
  font-style: italic;
}
.forum-display-div{
    height:370px;
    width:700px;
    border:3px solid white;
    margin:10px;
    border-radius: 20px;
    overflow-y: scroll;
}
.text-time{
    height:20px;
    width:400px;
    margin-bottom: 10px;
    margin-left:10px;
}
.login-body{
    width:100%;
}
.forum-form{
    margin:10px;
}
.announce-input{
    background-color: transparent;
    width:520px;
    height:40px;
    border:1px solid white;
    border-radius:5px;
}
.announce-input::placeholder{
    color:white;
    text-align: center;
}
.announcement-form-outside-div{
    margin:10px;
    margin-left: 150px;
    display:none;
}
.left-div ul li{
    padding-bottom: 30px;
    padding-top:20px;
    font-size:35px;
    padding-left:20px;
    list-style-type: none;
}
.left-div ul li:hover{
    background-color: rgb(165, 161, 161);
    cursor:pointer;
}
.left-div ul li a{
    text-decoration: none;
}
} 


  

/* FOR TABLETS */


 @media only screen and (min-width: 415px) and (max-width: 768px) {
    *{
        padding:0px;
        margin:0px;
        color:white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .forum-form{
        margin:10px;
    }
    .add-profile-picture-btn:hover{
        background-color: rgb(73, 69, 69);
        cursor: pointer;
    }
    .add-profile-picture-btn{
        width:130px;
        background-color: black;
        height:30px;
        margin:10px;
        border-radius: 10px;
        border:1px solid black;
        border-radius:5px;
        font-size: 15px;
    }
    .profile-picture-form{
        margin-top:100px;
        margin-left:50px;
    }
    .logout{
        margin-left:480px;
        height:30px;
        width:80px;
        text-align:center;  
        background-color:black;
        border:1px solid black;
        border-radius:5px;
        font-size: 18px;
    }
    .logout:hover{
        background-color: rgb(165, 161, 161);
        cursor:pointer;
    }
    .single-text-div{
        border:1px solid white;
        width:390px;
        height:auto;
        margin-top:10px;
        margin-left:10px;
        padding:10px;
        background-color: black; 
        word-wrap:break-word;
        border-radius: 10px;
    }
    .forum-send-btn{
        width:60px;
        height:30px;
        background-color:black;
        border:1px solid black;
        border-radius:20px;
        font-size: 18px;
    }
    .forum-send-btn:hover{
        cursor:pointer;
        background-color: rgb(165, 161, 161);
    }
    .forum-input{
        width:400px;
        height:30px;
        border-radius: 20px;
        border:1px solid white;
        background-color: transparent;
    }
    .forum-input::placeholder{
      text-align: center;
      color:white;
      font-size:15px;
      font-weight: lighter;
      font-style: italic;
    }
    .forum-display-div{
        height:310px;
        width:430px;
        border:2px solid white;
        margin:10px;
        border-radius: 20px;
        overflow-y: scroll;
    }
    .reporting-title{
        margin-left: 200px;
        padding-top:20px;
        font-size:20px;
    }
    .report-input{
        margin:10px;
        background-color: transparent;
        height:30px;
        width:150px;
        border-radius:5px;
        border:1px solid white;
    }
    .report-input::placeholder{
        color:white;
        text-align: center;
    }
    .daily-chart-desc{
        width:197px;
        margin-left:10px;
        margin-top:10px;
    }
    #barChartdaily1{
        margin-top:-20px;
        height:320px;
        width:700px;
    }
    #barChart1{
        height:320px;
        width:700px;
    }
    #barChartdaily2{
        margin-top:-20px;
        height:320px;
        width:700px;
    }
    #barChart2{
        height:320px;
        width:700px;
    }
    #barChartdaily3{
        margin-top:-20px;
        height:320px;
        width:700px;
    }
    #barChart3{
        height:320px;
        width:700px;
    }
    #barChartdaily4{
        margin-top:-20px;
        height:320px;
        width:700px;
    }
    #barChart4{
        height:320px;
        width:700px;
    }
    #barChartdaily5{
        margin-top:-20px;
        height:320px;
        width:700px;
    }
    #barChart5{
        height:320px;
        width:700px;
    }
    #barChartdaily6{
        margin-top:-20px;
        height:320px;
        width:700px;
    }
    #barChart6{
        height:320px;
        width:700px;
    }
    #barChartdaily7{
        margin-top:-20px;
        height:320px;
        width:700px;
    }
    #barChart7{
        height:320px;
        width:700px;
    }
    #barChartdaily8{
        margin-top:-20px;
        height:320px;
        width:700px;
    }
    
    #barChart8{
        height:320px;
        width:700px;
    }
    
    #barChartdaily9{
        margin-top:-20px;
        height:320px;
        width:700px;
    }
    #barChart9{
        height:320px;
        width:700px;
    }
    #barChartdaily10{
        margin-top:-20px;
        height:320px;
        width:700px;
    }
    #barChart10{
        height:320px;
        width:700px;
    }
    .product-header{
        margin-left:200px;
    }
    .monthly-chart-record{
        margin-left:200px;
    }
    .product-success{
        font-weight: lighter;
        margin-left:200px;
        color:greenyellow;
    }
    .add-product-form{
        margin-left:10px;
        display: none;
    }
    .product-input::placeholder{
    color:white;
    text-align: center;
}
    .product-input{
        background-color: transparent;
        height:30px;
        border-radius: 5px;
        border:1px solid white;
    }
    .add-product-form-2{
        margin-left:10px;
        display: none;
    }.add-product-form-3{
        margin-left:10px;
        display: none;
    }.add-product-form-4{
        margin-left:10px;
        display: none;
    }.add-product-form-5{
        margin-left:10px;
        display: none;
    }.add-product-form-6{
        margin-left:10px;
        display: none;
    }.add-product-form-7{
        margin-left:10px;
        display: none;
    }.add-product-form-8{
        margin-left:10px;
        display: none;
    }.add-product-form-9{
        margin-left:10px;
        display: none;
    }.add-product-form-10{
        margin-left:10px;
        display: none;
    }
    .products-table td{
    text-align: center;
    border:1px solid white;
    height:40px;
}
    .products-table{
        border:1px solid white;
        border-collapse: collapse;
        width:700px;
        margin:10px;
    }
    
    .products-table th{
        border:1px solid white;
        height:30px;
        background-color: rgb(165, 161, 161);   
    }
    .announcement-table th{
        border:1px solid white;
        height:30px;
        background-color: rgb(165, 161, 161);   
    }
    .tabbed-content{
        border:1px solid white;
        height:290px;
        width:560px;
        overflow-y: scroll;
    }
    .tabbedul ul{
        list-style: none;
        background-color: black;
    }
    .tabbedul ul li a{
        text-decoration: none;
    }
    .tabbedul ul li{
        display:inline-flex;
        padding-top:10px;
        padding-left:15px;
        padding-right:15px;
        padding-bottom: 10px;
    }
    .products-div{
        border:1px solid black;
        margin-left:205px;
        margin-top:-425px;
        height:420px;
        width:560px;
        background-color: rgb(13, 13, 88);
        border-radius: 10px;
    }
    .announce-btn{
        margin-left:80px;
        width:80px;
        margin-top:10px;
        height:30px;
        background-color:black;
        border:1px solid black;
        border-radius:5px;
        font-size: 18px;
    }
    .announce-input{
        background-color: transparent;
        width:220px;
        height:40px;
        border:1px solid white;
        border-radius:5px;
    }
    .announce-input::placeholder{
        color:white;
        text-align: center;
    }
    .announcement-form-outside-div{
        margin:10px;
        margin-left: 80px;
        display:none;
    }
    .add-announce-btn{
        width:100px;
        margin:10px;
        height:30px;
        background-color:black;
        border:1px solid black;
        border-radius:5px;
        font-size: 18px;
    }
    .add-announce-btn:hover{
        background-color: rgb(165, 161, 161);
        cursor:pointer;
    }
    .announcement-table td{
        text-align: center;
        border:1px solid white;
        height:40px;
    }
    .announcement-table th{
        border:1px solid white;
        height:30px;
        background-color: rgb(165, 161, 161);   
    }
    .announcement-table{
        border:1px solid white;
        border-collapse: collapse;
        width:450px;
    }
   
    .auth-links a:hover{
        color: red; 
    }
    .released-div ul li{
    padding-bottom: 30px;
    padding-top:10px;
    padding-left:5px;

}
.released-div ul li:hover{
    background-color: rgb(165, 161, 161);
    cursor:pointer;
}
.released-div ul li a{
    text-decoration: none;
}
    .left-div ul li{
    padding-bottom: 30px;
    padding-top:10px;
    font-size:20px;
    padding-left:5px;
    list-style-type: none;
}
.left-div ul li:hover{
    background-color: rgb(165, 161, 161);
    cursor:pointer;
}
.left-div ul li a{
    text-decoration: none;
}
    .left-div{
        border:1px solid black;
        width:100px;
        height:420px;
        margin-left:660px ;
        margin-top:-423px;
        background-color: rgb(73, 69, 69);
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius:10px;
    }
    .released-div ul li a{
        text-decoration: none;
    }
    .released-div ul li a:hover{
        color:red;
    }
    .released-div{
        font-size:20px;
        margin-top:60px;
        margin-left:5px;
    }
    .profile-picture-words{
       margin-left:-100px;
       margin-top:-80px;
   }
   .profile-picture-words a:hover{
       color:red;
   }
    .profile-desc{
    width:100px;
    margin-left: 3px;
    border-left:1px dotted white;
}
    .profile{
    display: inline-flex;
}
.profile-photo img{
    width:100px;
    height:100px;
    margin-left: 5px;
    border-radius: 20px;
}
    .side-div{
    border:1px solid black;
    width:200px;
    height:420px;
    margin-top:5px;
    background-color: rgb(73, 69, 69);
    box-shadow: 0 4px 8px 0px rgba(0,0,0,0.2);
    transition: 5.6s;
    border-radius:10px;
}
    .forgot-link{
        margin-top:10px;
    }
    .announcements{
        border:1px solid black;
        margin-left:205px;
        margin-top:-423px;
        height:420px;
        width:450px;
        background-color: rgb(13, 13, 88);
        border-radius: 10px;
        overflow-y: scroll;
    }
    .signup-form-error{
        font-style: italic;
        color:red;
        font-weight: lighter;
    }
    .register-btn{
        width:150px;
        height:30px;
        background-color: black;
        border-radius:20px;
        color:white;
        font-size:15px;
        border:1px solid white;
        margin-top:5px;
    }
    .login-btn{
    width:150px;
    height:30px;
    background-color: black;
    border-radius:20px;
    color:white;
    font-size:15px;
    border:1px solid white;
}
    .auth-input::placeholder{
        text-align: center;
        font-weight: lighter;
        color:white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size:18px;
    }
    
    .auth-input{
        background-color: transparent;
        text-align: center;
        padding:5px;
        border-radius:20px;
        margin:10px;
        border:1px solid white;
        width:250px;
        font-size:18px;
    }
    .login-header{
        font-size: 25px;
    }
    .login-form-inner-div{
        border:1px solid white;
        width:300px;
        height:300px;
        padding-top: 70px;
        border-radius:20px;
    }
    .register-form-inner-div{
    border:1px solid white;
    width:300px;
    height:423px;
    padding-top: 10px;
    border-radius:20px;
}
    .login-form-outside-div{
        text-align: center;
        margin-left:200px; 
    }
    .register-input::placeholder{
    text-align: center;
    font-weight: lighter;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:15px;
}
    .register-input{
        background-color: transparent;
        text-align: center;
        border-radius:20px;
        margin:2px;
        border:1px solid white;
        width:250px;
        font-size:15px;
        height:25px;
    }
    .login-body{
        width:100%;
        background-color: rgb(13, 13, 88);
        height:430px;
    }
    .footer-list-ul ul{
        display: inline-flex;
        list-style: none;
    }
    .footer-list-ul ul li{
        margin-top:10px;
        margin-left: 10px;
        margin-right: 50px;
        font-size: 12px;
        list-style: none;
    }
    .div ul{
        display: block;
        position: absolute;
    }
    .div {
        margin-right: 100px;

    }
    .footer-header{
        margin-left:500px;
        padding-top:10px;
    }
    .div ul li{
        
        margin-left:-5px;
    }
    .footer-header{
        margin-left:300px;
        padding-top:10px;
    }
    
    .footer{
        height:150px;
        margin-top:10px;
        background-color: rgb(73, 69, 69);
        width:100%;
    }
    .front-btns-div{
        margin-left:20px;
        margin-top:30px;
        display: inline-flex;
    }
    .front-btns-div button{
        width:70px;
        background-color: black;
        height:30px;
        margin:10px;
        border-radius: 10px;
        border:1px solid black;
        border-radius:5px;
    }
    .front-btns-div button:hover{
        border:1px solid rgb(73, 69, 69);
        cursor:pointer;
    }
    .front-register-text{
        margin-top:10px;
        margin-left:30px;
    }
    .front-welcome-words{
        margin:10px;
        float:right;
        width:240px;
        margin-top:-300px;
        margin-right: 10px;
        height:300px;
        font-size: 17px;
    }
    .front-slide-div{
        border:1px solid white;
        width:500px;
        height:300px;
        margin-left:5px;
    }
    .front-slide-div img{
        width:500px;
        height:300px;
    }
    .front-page-body{
        width:100%;
        background-color: rgb(13, 13, 88);
        height:430px;
    }
    .header{
        width:100%;
        background-color:rgb(73, 69, 69);
        height:120px;
    }
    .header-words{
        margin-left:200px;
        padding-top:20px;
        font-size:25px;
        margin-top:-70px;
    }
    .policy-header-div{
        margin-left:100px;
    }
    .logo{
        height: 60px;
        width:60px;
        border:1px solid white;
        margin-left: 20px;
        margin-bottom: -50px;
    }
    .logo img{
        height: 60px;
        width:60px;
    }
} 




/*FOR PHONES */

@media only screen and (max-width: 414px) {
    *{
        padding:0px;
        margin:0px;
        color:white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .logout{
        margin-left:160px;
        height:20px;
        width:60px;
        text-align:center;
        background-color:black;
        border:1px solid black;
        border-radius:5px;
        font-size: 15px;
    }
    .logout:hover{
        background-color: rgb(165, 161, 161);
        cursor:pointer;
    }
    .single-text-div{
        border:1px solid white;
        width:250px;
        height:auto;
        margin-top:10px;
        margin-left:10px;
        padding:10px;
        background-color: black; 
        word-wrap:break-word;
        border-radius: 10px;
    }
    .forum-display-div{
        height:400px;
        width:300px;
        border:2px solid white;
        margin:10px;
        border-radius: 20px;
        overflow-y: scroll;
    }
    .forum-send-btn{
        width:50px;
        height:30px;
        background-color:black;
        border:1px solid black;
        border-radius:20px;
        font-size: 18px;
    }
    .forum-send-btn:hover{
        cursor:pointer;
        background-color: rgb(165, 161, 161);
    }
    .forum-input{
        width:240px;
        height:30px;
        border-radius: 20px;
        border:1px solid white;
        background-color: transparent;
    }
    .forum-input::placeholder{
      text-align: center;
      color:white;
      font-size:20px;
      font-weight: lighter;
      font-style: italic;
    }
    .forum-form{
        margin:10px;
    }
    .reporting-title{
        margin-left:50px;
        font-size:20px;
    }
    .report-input{
        margin:10px;
        background-color: transparent;
        height:30px;
        width:130px;
        border-radius:5px;
        border:1px solid white;
    }
    .report-input::placeholder{
        color:white;
        text-align: center;
    }
    .add-profile-picture-btn:hover{
        background-color: rgb(73, 69, 69);
        cursor: pointer;
    }
    .add-profile-picture-btn{
        width:120px;
        background-color: black;
        height:30px;
        margin:10px;
        border-radius: 10px;
        border:1px solid black;
        border-radius:5px;
        font-size: 15px;
    }
    .profile-picture-form{
        margin-top:10px;
        margin-left:50px;
    }
    .chart-desc-inner{
        display:inline-flex
    }
    
    .inner-rejects{
        margin-left:90px;
    }
    .signup-form-error{
        font-style: italic;
        color:red;
        font-weight: lighter;
        margin-left:20px;
    }
    #barChartdaily1{
        margin-top:-20px;
        height:220px;
        width:600px;
        border:1px solid white;
    }
    #barChart1{
        height:220px;
        width:600px;
        border:1px solid white;
        margin-top: 10px;
    }
    #barChartdaily2{
        margin-top:-20px;
        height:220px;
        width:600px;
        border:1px solid white;
    }
    #barChart2{
        height:220px;
        width:600px;
        border:1px solid white;
        margin-top: 10px;
    }
    #barChartdaily3{
        margin-top:-20px;
        height:220px;
        width:600px;
        border:1px solid white;
    }
    #barChart3{
        height:220px;
        width:600px;
        border:1px solid white;
        margin-top: 10px;
    }
    #barChartdaily4{
        margin-top:-20px;
        height:220px;
        width:600px;
        border:1px solid white;
    }
    #barChart4{
        height:220px;
        width:600px;
        border:1px solid white;
        margin-top: 10px;
    }
    #barChartdaily5{
        margin-top:-20px;
        height:220px;
        width:600px;
        border:1px solid white;
    }
    #barChart5{
        height:220px;
        width:600px;
        border:1px solid white;
        margin-top: 10px;
    }
    #barChartdaily6{
        margin-top:-20px;
        height:220px;
        width:600px;
        border:1px solid white;
    }
    #barChart6{
        height:220px;
        width:600px;
        border:1px solid white;
        margin-top: 10px;
    }
    #barChartdaily7{
        margin-top:-20px;
        height:220px;
        width:600px;
        border:1px solid white;
    }
    #barChart7{
        height:220px;
        width:600px;
        border:1px solid white;
        margin-top: 10px;
    }
    #barChartdaily8{
        margin-top:-20px;
        height:220px;
        width:600px;
        border:1px solid white;
    }
    #barChart8{
        height:220px;
        width:600px;
        border:1px solid white;
        margin-top: 10px;
    }
    #barChartdaily9{
        margin-top:-20px;
        height:220px;
        width:600px;
        border:1px solid white;
    }
    #barChart9{
        height:220px;
        width:600px;
        border:1px solid white;
        margin-top: 10px;
    }
    #barChartdaily10{
        margin-top:-20px;
        height:220px;
        width:600px;
        border:1px solid white;
    }
    #barChart10{
        height:220px;
        width:600px;
        border:1px solid white;
        margin-top: 10px;
    }
    .daily-chart-div{
        height:400px;
        margin-top:10px;
    }
    .monthly-chart-div{
        height:400px;
        margin-top:140px;
    }
    .monthly-chart-record{
        margin-left:50px;
    }
    .profile-desc{
        margin-left: 10px;
    }
    .product-input::placeholder{
        color:white;
        text-align: center;
    }
    .product-input{
        background-color: transparent;
        height:30px;
        border-radius: 5px;
        border:1px solid white;
        margin:5px;
    }
    .products-table td{
        text-align: center;
        border:1px solid white;
        height:40px;
    }
    .products-table{
        border:1px solid white;
        border-collapse: collapse;
        width:320px;
        margin:5px;
    }
    
    .products-table th{
        border:1px solid white;
        height:30px;
        background-color: rgb(165, 161, 161);   
    }
    .tabbed-content{
        border:1px solid white;
        height:320px;
        width:320px;
        overflow-y: scroll;
    }
    .product-header{
        margin-left:100px;
        padding:10px;
    }
    .add-product-form{
        margin-left:10px;
        display: none;
    }
    .add-product-form-2{
        margin-left:10px;
        display: none;
    }
    .add-product-form-3{
        margin-left:10px;
        display: none;
    }.add-product-form-4{
        margin-left:10px;
        display: none;
    }.add-product-form-5{
        margin-left:10px;
        display: none;
    }.add-product-form-6{
        margin-left:10px;
        display: none;
    }.add-product-form-7{
        margin-left:10px;
        display: none;
    }.add-product-form-8{
        margin-left:10px;
        display: none;
    }.add-product-form-9{
        margin-left:10px;
        display: none;
    }.add-product-form-10{
        margin-left:10px;
        display: none;
    }
    .tabbedul ul{
        list-style: none;
        background-color: black;
    }
    .tabbedul ul li a{
        text-decoration: none;
    }
    .tabbedul ul li{
        display:inline-flex;
        padding-top:px;
        padding-left:5px;
        padding-right:5px;
        padding-bottom: 5px;
    }
    .tabbedul ul li:hover{
        background-color: rgb(165, 161, 161);   
    }
    .announce-input{
        background-color: transparent;
        width:320px;
        height:40px;
        border:1px solid white;
        border-radius:5px;
        margin-left:5px;
    }
    .announce-input::placeholder{
        color:white;
        text-align: center;
    }
    .left-div-hr{
        display: none;
    }
    .announcement-table td{
        text-align: center;
        border:1px solid white;
        height:30px;
    }
    .left-div{
        background-color: rgb(13, 13, 88);
        padding: 20px;
        font-size: 22px;
        width:280px;
    }
    .left-div ul li{
        list-style-type: none;
        padding-left: 30px;
        padding-right: 30px;
    }
    .left-div ul li:hover{
        background-color: rgb(165, 161, 161);   
    }
    .left-div ul li a{
        text-decoration: none;
    }
    .left-div ul {
        display: inline-flex;
    }
    .announcement-table th{
        border:1px solid white;
        height:20px;
        background-color: rgb(165, 161, 161);   
    }
    .announcement-table{
        border:1px solid white;
        border-collapse: collapse;
        width:320px;
        height:400px;
    }
    .released-div ul li a{
        text-decoration: none;
    }
    .released-div ul li a:hover{
        color:red;
    }
    
    .released-div{
        font-size:20px;
        margin-top:5px;
        margin-left:5px;
    }
    .profile{
        display: inline-flex;
    }
    .profile-photo img{
        width:150px;
        height:150px;
        margin-left: 5px;
        border-radius: 50%;
    }
    .announcements{
        width:320px;
        height:400px;
        background-color: rgb(13, 13, 88);
        overflow-y: scroll;
    }
    .products-div{
        height:420px;
        width:320px;
        background-color: rgb(13, 13, 88);
    }
    .announcement-form-outside-div{
        display:none;
    }
    .side-div{
        width:320px;
        height:260px;
        margin-top:5px;
        background-color: rgb(73, 69, 69);
        box-shadow: 0 4px 8px 0px rgba(0,0,0,0.2);
        transition: 5.6s;
    }
    .register-input::placeholder{
        text-align: center;
        font-weight: lighter;
        color:white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size:12px;
    }
    .register-input{
        background-color: transparent;
        text-align: center;
        border-radius:20px;
        margin:2px;
        border:1px solid white;
        width:180px;
        font-size:12px;
        height:22px;
        margin-left:40px;
    }
    .register-form-inner-div{
        border:1px solid white;
        width:280px;
        height:400px;
        padding-top: 10px;
        border-radius:20px;
        margin-left:20px;
    }
    .auth-links{
        margin-top:10px;
        margin-left: 80px;
    }
    .auth-links a:hover{
        color: red; 
    }
    .login-btn{
        width:80px;
        height:30px;
        background-color: black;
        border-radius:10px;
        color:white;
        font-size:15px;
        border:1px solid white;
        margin-left:100px;
    }
    .announce-btn{
        width:80px;
        height:30px;
        background-color: black;
        border-radius:5px;
        color:white;
        font-size:15px;
        border:1px solid white;
        margin-left:5px;
    }
    .add-announce-btn{
        width:80px;
        height:30px;
        background-color: black;
        border-radius:5px;
        color:white;
        font-size:15px;
        border:1px solid white;
        margin-left:5px;
    }
    .dont-have-link{
        margin-left: -20px;
    }
    .register-btn{
        width:80px;
        margin-top:10px;
        height:25px;
        background-color: black;
        border-radius:10px;
        color:white;
        font-size:12px;
        border:1px solid white;
        margin-left:100px;
    }
    .auth-input::placeholder{
        text-align: center;
        font-weight: lighter;
        color:white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size:18px;
    }
    
    .auth-input{
        background-color: transparent;
        text-align: center;
        padding:5px;
        border-radius:20px;
        margin:10px;
        border:1px solid white;
        width:250px;
        font-size:18px;
    }
    .login-header{
        font-size: 20px;
        margin-left:70px;
    }
    .login-form-inner-div{
        border:1px solid white;
        width:280px;
        height:300px;
        padding-top: 20px;
        border-radius:20px;
        border:1px solid white;
        margin-left: 25px;
    }
    .footer-header{
        font-size: 15px;
        margin-left:80px;
    }
    .footer-list-ul{
        font-size: 12px;
    }
    .footer{
        height:313px;
        background-color:rgb(73, 69, 69);
        width:100%;
    }
    .div{
        margin:10px;
    }
    .front-btns-div{
        margin-left:60px;
        display: inline-flex;
    }
    .front-btns-div button{
        width:60px;
        background-color: black;
        height:25px;
        margin:10px;
        border-radius: 10px;
        border:1px solid black;
        border-radius:5px;
    }
    .front-btns-div button:hover{
        border:1px solid rgb(73, 69, 69);
        cursor:pointer;
    }
    .front-register-text{
        margin-top:10px;
        margin-left:40px;
    }
    .front-welcome-words{
        margin:10px;
        width:300px;
        margin-right: 10px;
        height:100px;
        font-size: 17px;
    }
    .front-slide-div{
        border:1px solid white;
        width:300px;
        height:200px;
        margin-left:5px;
    }
    .front-slide-div img{
        width:300px;
        height:200px;
    }
    .front-page-body{
        width:100%;
        background-color: rgb(13, 13, 88);
        height:400px;
    }
    .login-body{
        width:100%;
        background-color: rgb(13, 13, 88);
        height:400px;
    }
    .header{
        width:100%;
        background-color:rgb(73, 69, 69);
        height:100px;
    }
    .header-words{
        margin-left:90px;
        padding-top:10px;
        font-size:15px;
        margin-top:-50px;
    }
    .policy-header-div{
        margin-left:50px;
    }
    .logo{
        height: 60px;
        width:60px;
        border:1px solid white;
        margin-left: 20px;
        margin-bottom: -50px;
    }
    .logo img{
        height: 60px;
        width:60px;
    }
}